body{
    font-family: 'Special Elite', cursive;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(130,205,221,1) 0%, rgba(255,247,153,1) 90% );
}
.header_div{
    background-color: rgb(228, 98, 141);
    color: rgb(131, 15, 240);
    margin-bottom: 7px;
}
.header_div p{
    font-family: 'Roboto', sans-serif;
    color: gold;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copyright_footer{
    position: fixed;
    color: rgba(246, 242, 24, 0.863);
    bottom: 0;
    width: 100%;
    font-size: 21px;
    background-color:rgb(244, 121, 242);
    line-height: 2;
    text-align: center;
    text-shadow: 5px 5px 5px blue;
}
